{{with .Site.Params}}
<div class="social">
  {{if not .logo}}
  <a class="icon-home" href="/" style="font-size:2.1em;padding-top:1px">
    <span class="hidden">Blog Home</span>
  </a>
  {{end}}
    
  {{if .linkedinname}}
  <a class="icon-linkedin" href="https://www.linkedin.com/in/{{.linkedinname}}" target="_blank" style="font-size:1.8em">
    <span class="hidden">LinkedIn</span>
  </a>
  {{end}}
  {{if .githubname}}
  <a class="icon-github" href="https://github.com/{{.githubname}}" target="_blank" style="font-size:1.4em;padding-top:5px">
    <span class="hidden">GitHub</span>
  </a>
  {{end}}
  {{if .twittername}}
  <a class="icon-twitter" href="https://twitter.com/{{.twittername}}" target="_blank" style="font-size:1.5m;padding-top:2px">
    <span class="hidden">Twitter</span>
  </a>
  {{end}}
  {{if .facebookname}}
  <a class="icon-facebook" href="https://www.facebook.com/{{.facebookname}}" target="_blank">
    <span class="hidden">Facebook</span>
  </a>
  {{end}}
  {{if .instagramname}}
  <a class="icon-instagram" href="https://instagram.com/{{.instagramname}}" target="_blank">
    <span class="hidden">Instagram</span>
  </a>
  {{end}}
  {{if .pinterestname}}
  <a class="icon-pinterest" href="https://www.pinterest.com/{{.pinterestname}}" target="_blank">
    <span class="hidden">Pinterest</span>
  </a>
  {{end}}
  {{if .googleplusname}}
  <a class="icon-google-plus" href="https://google.com/+{{.googleplusname}}" target="_blank">
    <span class="hidden">Google+</span>
  </a>
  {{end}}
</div>
{{end}}
