{{$author := index .Site.Author .Params.author}}

<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  {{partial "head/includes.html" .}}
</head>
<body class="nav-closed">
  {{partial "navigation.html" .}}

  <div class="site-wrapper">
  {{$coverImage := or .Params.cover .Site.Params.authorcover .Site.Params.cover}}

  {{if not $coverImage}}
	<header class="main-header tag-head no-cover">
  {{else}}
  <header class="main-header post-head" style="background-image: url({{$coverImage}})">
  {{end}}

    {{partial "nav.html" .}}
    <div class="vertical">
      <div class="main-header-content inner">
       {{if $author.thumbnail}}
         <div class="author-cover-img" style="background-image: url({{$author.thumbnail}})"></div>
       {{end}}
       <h1 class="page-title">{{$author.firstname}} {{$author.lastname}}</h1>
      </div>
    </div>
  </header>

  <main class="content" role="main">
    <article class="post">
      <section class="post-content">
        {{.Content}}
      </section>
      <footer class="post-footer">

      </footer>
    </article>
  </main>
{{partial "footer.html" .}}
